/* important sobreescirbe a boostrap*/
div.container div.table-responsive.text-white {
    background-color: #2e79ea !important;
    border-radius: 8px !important;
    width: 90%; /* Control del ancho */
    margin: 0 auto; 
    padding: 15px;
}

div.container div.table-responsive.text-white table.table {
    background-color: transparent !important;
    color: white !important;
    width: 100%; /* Ocupa todo el ancho del contenedor */
}

div.container div.table-responsive.text-white table.table thead.table-dark tr th {
    background-color: #2e79ea !important;
    color: white !important;
    padding: 10px 8px; 
    text-align: center; 
}

div.container div.table-responsive.text-white table.table tbody tr td {
    padding: 8px;
    vertical-align: middle;
    text-align: center;
}

/* para formulario de agregar */
.card {
    background-color: #2464c3 !important;
    color: white !important;
    margin: 0 auto;
}